header nav ul {
  *zoom: 1; }
  header nav ul:before, header nav ul:after {
    content: " ";
    display: table; }
  header nav ul:after {
    clear: both; }

/*STICKY FOOTER*/
.wrapper {
  min-height: 100%;
  margin: 0 auto -80px; }
  @media only screen and (min-width: 601px) {
    .wrapper {
      margin-bottom: -80px; } }

footer, .push {
  height: 80px; }
  @media only screen and (min-width: 601px) {
    footer, .push {
      height: 80px; } }

/*GENERIC STYLES*/
body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  min-width: 300px;
  outline: 1px solid black; }
  @media only screen and (min-width: 601px) {
    .container {
      width: 94%; } }
  @media only screen and (min-width: 990px) {
    .container {
      width: 60%; } }

/*HEADER*/
header {
  background-color: #eee;
  text-align: center; }
  header nav ul li {
    position: relative;
    float: left;
    padding: 10px; }
    header nav ul li.active {
      background-color: lightblue; }
    header nav ul li:hover {
      color: lightcoral;
      cursor: pointer; }

/*SHOP*/
.shop {
  background-color: lightblue; }
  .shop .pagination {
    text-align: center; }
    .shop .pagination a {
      color: #000;
      padding: 5px;
      border: 1px solid lightyellow; }
      .shop .pagination a.active {
        background-color: lightyellow; }
      .shop .pagination a:hover {
        background-color: yellow; }
