header .logo div.title, footer div.container div div.mail, .shop div.products, .shop div.products div.quote div, .shop div.products div.list, .frontpage div.services, .frontpage div.services div, .product-details div.services, .product-details div.services div {
  *zoom: 1; }
  header .logo div.title:before, footer div.container div div.mail:before, .shop div.products:before, .shop div.products div.quote div:before, .shop div.products div.list:before, .frontpage div.services:before, .frontpage div.services div:before, .product-details div.services:before, .product-details div.services div:before, header .logo div.title:after, footer div.container div div.mail:after, .shop div.products:after, .shop div.products div.quote div:after, .shop div.products div.list:after, .frontpage div.services:after, .frontpage div.services div:after, .product-details div.services:after, .product-details div.services div:after {
    content: " ";
    display: table; }
  header .logo div.title:after, footer div.container div div.mail:after, .shop div.products:after, .shop div.products div.quote div:after, .shop div.products div.list:after, .frontpage div.services:after, .frontpage div.services div:after, .product-details div.services:after, .product-details div.services div:after {
    clear: both; }

/*STICKY FOOTER*/
.wrapper {
  min-height: 100%;
  margin: 0 auto -558px; }
  @media only screen and (min-width: 601px) {
    .wrapper {
      margin-bottom: -238px; } }

footer, .push {
  height: 558px; }
  @media only screen and (min-width: 601px) {
    footer, .push {
      height: 238px; } }

/*GENERIC STYLES*/
body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  min-width: 300px;
  outline: 1px solid black; }
  @media only screen and (min-width: 601px) {
    .container {
      width: 94%; } }
  @media only screen and (min-width: 990px) {
    .container {
      width: 60%; } }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/*HEADER*/
header {
  background-color: #141414;
  color: #eee; }
  header .container {
    padding-bottom: 10px;
    height: 187px; }
    @media only screen and (min-width: 601px) {
      header .container {
        height: 151px; } }
    @media only screen and (min-width: 990px) {
      header .container {
        height: 134px; } }
    @media only screen and (min-width: 1300px) {
      header .container {
        height: 140px; } }
  header .logo {
    font-style: italic;
    padding-bottom: 8px; }
    header .logo div.title img {
      float: left;
      width: 50px;
      height: 50px; }
    header .logo div.title h2 {
      text-shadow: 0 2px 4px rgba(195, 59, 33, 0.2), 0 2px 10px rgba(195, 59, 33, 0.19);
      font-size: 24px;
      margin-bottom: 5px;
      padding-left: 20px; }
      @media only screen and (min-width: 601px) {
        header .logo div.title h2 {
          font-size: 30px; } }
    header .logo div.title span {
      float: right;
      text-align: right;
      font-style: italic;
      color: #929292;
      font-size: 60%; }
      @media only screen and (min-width: 601px) {
        header .logo div.title span {
          font-size: 80%; } }
  header nav {
    height: 53px;
    padding-bottom: 5px; }
    @media only screen and (min-width: 601px) {
      header nav {
        height: auto; } }
    header nav ul {
      text-align: left; }
      header nav ul li {
        line-height: 1;
        display: inline-block;
        padding: 5px;
        font-size: 80%; }
        @media only screen and (min-width: 601px) {
          header nav ul li {
            padding: 5px 6px;
            font-size: 90%; } }
        @media only screen and (min-width: 1300px) {
          header nav ul li {
            padding: 5px 20px;
            font-size: 100%; } }
        header nav ul li:first-child {
          padding-left: 0; }
        header nav ul li.active {
          color: #C33B21; }
        header nav ul li:hover {
          color: lightcoral;
          cursor: pointer; }
      @media only screen and (min-width: 1300px) {
        header nav ul.categories li {
          font-size: 90%; } }
      header nav ul.categories.ng-hide-remove, header nav ul.categories.ng-hide-add {
        -webkit-transition: 0.5s ease all;
        -moz-transition: 0.5s ease all;
        -ms-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;
        transition: 0.5s ease all; }
      header nav ul.categories.ng-hide-remove {
        opacity: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      header nav ul.categories.ng-hide-remove-active {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
      header nav ul.categories.ng-hide-add {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
      header nav ul.categories.ng-hide-add-active {
        opacity: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
  header .cart {
    line-height: 1;
    text-align: center;
    font-size: 80%; }
    @media only screen and (min-width: 601px) {
      header .cart {
        text-align: right; } }
    @media only screen and (min-width: 601px) {
      header .cart {
        font-size: 90%; } }
    @media only screen and (min-width: 1300px) {
      header .cart {
        font-size: 100%; } }
    header .cart button {
      background: linear-gradient(#E46A52 49%, #C33B21 50%), #C33B21;
      outline: none;
      border: 1px solid transparent;
      padding: 4px 15px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    header .cart .cartDetails div {
      padding-top: 5px; }
      header .cart .cartDetails div span {
        font-size: 80%; }
        @media only screen and (min-width: 1300px) {
          header .cart .cartDetails div span {
            font-size: 90%; } }
    header .cart .cartDetails button {
      line-height: 1;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      padding: 0 2px;
      color: #000;
      background: linear-gradient(#e7e7e7 49%, #b7b7b7 50%), #b7b7b7; }
      header .cart .cartDetails button i {
        font-size: 16px; }
        @media only screen and (min-width: 1300px) {
          header .cart .cartDetails button i {
            font-size: 20px; } }
    header .cart .cartDetails.ng-hide-remove, header .cart .cartDetails.ng-hide-add {
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -ms-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      transition: 0.5s ease all; }
    header .cart .cartDetails.ng-hide-remove {
      opacity: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    header .cart .cartDetails.ng-hide-remove-active {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    header .cart .cartDetails.ng-hide-add {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    header .cart .cartDetails.ng-hide-add-active {
      opacity: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

/*FOOTER*/
footer {
  background-color: #141414; }
  footer div.container div {
    padding: 10px; }
    @media only screen and (min-width: 601px) {
      footer div.container div {
        padding: 10px 20px; } }
    footer div.container div h3 {
      color: #eee; }
    footer div.container div p {
      color: #7F7D7D;
      font-size: 90%; }
      @media only screen and (min-width: 601px) {
        footer div.container div p {
          font-size: 100%; } }
    footer div.container div ul li a {
      color: #7F7D7D; }
      footer div.container div ul li a:hover {
        color: #D9571E; }
    footer div.container div ul.social li {
      display: inline-block; }
      footer div.container div ul.social li a {
        display: block;
        width: 24px;
        height: 24px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        footer div.container div ul.social li a.facebook {
          background: url(../images/img-sprite.png) no-repeat 0 0; }
        footer div.container div ul.social li a.twitter {
          background: url(../images/img-sprite.png) no-repeat -34px 0; }
        footer div.container div ul.social li a.rss {
          background: url(../images/img-sprite.png) no-repeat -67px 0; }
        footer div.container div ul.social li a.linkd {
          background: url(../images/img-sprite.png) no-repeat -101px 0; }
        footer div.container div ul.social li a:hover {
          opacity: 0.8;
          filter: alpha(opacity=80); }
    footer div.container div div.mail {
      padding: 0; }
      footer div.container div div.mail input {
        margin: 0 5px 10px 0;
        float: left;
        width: 150px; }
      footer div.container div div.mail button {
        float: left;
        width: 90px;
        background: linear-gradient(#E46A52 49%, #C33B21 50%), #C33B21;
        outline: none;
        border: 1px solid transparent;
        padding: 0 15px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }

/*SHOP*/
@media only screen and (min-width: 601px) {
  .shop div.filters {
    width: 30%;
    float: left; } }
@media only screen and (min-width: 1300px) {
  .shop div.filters {
    width: 20%; } }
.shop div.filters h5 {
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  color: #141414;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all; }
  .shop div.filters h5:hover {
    color: #D9571E; }
  .shop div.filters h5 + div {
    overflow: hidden;
    padding-left: 15px; }
    .shop div.filters h5 + div p {
      margin: 5px 0;
      color: #444;
      font-size: 90%; }
      .shop div.filters h5 + div p:hover {
        color: #000; }
      .shop div.filters h5 + div p button {
        outline: none;
        padding: 0 12px;
        margin: 0;
        border: 1px solid transparent;
        line-height: 1;
        background: linear-gradient(#e7e7e7 49%, #b7b7b7 50%), #b7b7b7;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
        -ms-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
        transition: 0.3s ease all; }
        .shop div.filters h5 + div p button:hover {
          color: #D9571E;
          background: linear-gradient(#b7b7b7 49%, #e7e7e7 50%), #e7e7e7; }
        .shop div.filters h5 + div p button:active {
          border: 1px solid #999; }
      @media only screen and (min-width: 601px) {
        .shop div.filters h5 + div p input[type=text], .shop div.filters h5 + div p input[type=range] {
          width: 90%; } }
      .shop div.filters h5 + div p input[type=text] {
        border: 1px solid #999;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 0; }
        .shop div.filters h5 + div p input[type=text]:focus {
          border: 1px solid #4CAF50; }
@media only screen and (min-width: 601px) {
  .shop div.products {
    width: 70%;
    float: left; } }
@media only screen and (min-width: 1300px) {
  .shop div.products {
    width: 80%; } }
.shop div.products div.msg {
  padding-left: 30px; }
  .shop div.products div.msg h3 {
    margin: 30px 0;
    color: #3333CC;
    font-style: italic; }
.shop div.products div.quote {
  text-align: right;
  margin: 0;
  padding: 0; }
  .shop div.products div.quote div {
    margin: 0;
    padding: 10px 10px 10px 0; }
    .shop div.products div.quote div img {
      margin: 0 0 0 15px;
      float: right;
      width: 40%;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      @media only screen and (min-width: 601px) {
        .shop div.products div.quote div img {
          width: 35%; } }
      @media only screen and (min-width: 1300px) {
        .shop div.products div.quote div img {
          margin-left: 50px;
          width: 20%; } }
    .shop div.products div.quote div h3 {
      color: #141414;
      margin-top: 0;
      margin-bottom: 10px;
      font-style: italic; }
    .shop div.products div.quote div p {
      font-style: italic;
      color: #444;
      font-size: 80%; }
.shop div.products div.dummy:before, .shop div.products div.dummy:after {
  content: " ";
  display: table;
  clear: both; }
.shop div.products div.list {
  padding: 20px 0;
  border-top: 1px solid #999;
  margin: 15px 0; }
  @media only screen and (min-width: 601px) {
    .shop div.products div.list {
      padding-left: 20px; } }
  .shop div.products div.list img {
    width: 45%;
    float: left;
    margin-right: 40px; }
    @media only screen and (min-width: 1300px) {
      .shop div.products div.list img {
        width: 35%; } }
  .shop div.products div.list h5 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
    color: #141414; }
  .shop div.products div.list p {
    font-size: 90%;
    color: #444; }
    .shop div.products div.list p.price {
      margin-top: 35px; }
      .shop div.products div.list p.price span {
        font-weight: bold;
        color: #141414; }
  .shop div.products div.list button {
    color: #141414;
    padding: 3px 8px;
    background: linear-gradient(#E46A52 49%, #C33B21 50%), #C33B21;
    outline: none;
    border: 1px solid transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    .shop div.products div.list button:hover {
      background: linear-gradient(#C33B21 49%, #E46A52 50%), #E46A52;
      color: #eee; }
.shop div.products div.tile {
  padding: 10px;
  border-left: 1px solid #999;
  margin: 15px 0;
  width: 100%;
  float: left; }
  @media only screen and (min-width: 601px) {
    .shop div.products div.tile {
      padding-left: 20px; } }
  @media only screen and (min-width: 601px) {
    .shop div.products div.tile {
      width: 33.33%; } }
  .shop div.products div.tile img {
    float: left;
    width: 50%;
    margin: 0 10px 10px 0; }
    @media only screen and (min-width: 601px) {
      .shop div.products div.tile img {
        float: none;
        width: auto;
        max-width: 100%;
        height: auto; } }
  .shop div.products div.tile h5 {
    margin: 0;
    padding: 10px 0 0 0;
    font-weight: bold;
    color: #141414; }
    @media only screen and (min-width: 601px) {
      .shop div.products div.tile h5 {
        padding-bottom: 5px;
        font-size: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; } }
    @media only screen and (min-width: 1300px) {
      .shop div.products div.tile h5 {
        font-size: 100%; } }
  .shop div.products div.tile p {
    font-size: 90%;
    color: #444; }
    @media only screen and (min-width: 601px) {
      .shop div.products div.tile p {
        font-size: 70%; } }
    @media only screen and (min-width: 1300px) {
      .shop div.products div.tile p {
        font-size: 90%; } }
    @media only screen and (min-width: 601px) {
      .shop div.products div.tile p.description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; } }
    .shop div.products div.tile p.price span {
      font-weight: bold;
      color: #141414; }
  .shop div.products div.tile button {
    color: #141414;
    padding: 3px 8px;
    background: linear-gradient(#E46A52 49%, #C33B21 50%), #C33B21;
    outline: none;
    border: 1px solid transparent;
    margin-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    @media only screen and (min-width: 601px) {
      .shop div.products div.tile button {
        font-size: 70%; } }
    @media only screen and (min-width: 1300px) {
      .shop div.products div.tile button {
        font-size: 90%; } }
    .shop div.products div.tile button:hover {
      background: linear-gradient(#C33B21 49%, #E46A52 50%), #E46A52;
      color: #eee; }
.shop div.products div.tile.ng-enter, .shop div.products div.tile.ng-leave, .shop div.products div.list.ng-enter, .shop div.products div.list.ng-leave {
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all; }
.shop div.products div.tile.ng-enter, .shop div.products div.list.ng-enter {
  opacity: 0; }
.shop div.products div.tile.ng-enter-active, .shop div.products div.list.ng-enter-active {
  opacity: 1; }
.shop div.products div.tile.ng-leave, .shop div.products div.list.ng-leave {
  opacity: 1; }
.shop div.products div.tile.ng-leave-active, .shop div.products div.list.ng-leave-active {
  opacity: 0; }
.shop div.pagination {
  text-align: center;
  padding: 10px 0;
  margin: 30px 0; }
  .shop div.pagination a {
    margin-right: 3px;
    color: #141414;
    padding: 5px 10px;
    border: 1px solid #141414;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all; }
    .shop div.pagination a.active {
      color: #eee;
      background-color: #141414; }
    .shop div.pagination a:hover {
      background-color: #E46A52;
      color: #eee; }

/*MODAL*/
.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal .overlay {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8; }
  .modal .dialog {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: #fff;
    width: 90%;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 2px 10px 0 rgba(255, 255, 255, 0.19);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media only screen and (min-width: 601px) {
      .modal .dialog {
        width: 80%; } }
    @media only screen and (min-width: 990px) {
      .modal .dialog {
        width: 55%; } }
    .modal .dialog .content {
      overflow: hidden;
      height: 100%; }
      .modal .dialog .content div.image, .modal .dialog .content div.details {
        float: left;
        width: 95%; }
        @media only screen and (min-width: 601px) {
          .modal .dialog .content div.image, .modal .dialog .content div.details {
            width: 50%; } }
        .modal .dialog .content div.image img, .modal .dialog .content div.details img {
          max-width: 100%;
          height: auto; }
      .modal .dialog .content div.details {
        padding-left: 15px; }
        .modal .dialog .content div.details h3 {
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.19); }
        .modal .dialog .content div.details p {
          color: #444;
          font-size: 85%; }
          .modal .dialog .content div.details p.description {
            font-style: italic; }
          .modal .dialog .content div.details p.price {
            margin-top: 30px;
            margin-bottom: 5px; }
            .modal .dialog .content div.details p.price span:first-child {
              font-weight: bold;
              font-size: 110%;
              font-style: italic; }
          .modal .dialog .content div.details p .green {
            color: #4CAF50; }
          .modal .dialog .content div.details p .red {
            color: #F44336; }
        .modal .dialog .content div.details ul {
          font-size: 85%;
          color: #4CAF50; }
          .modal .dialog .content div.details ul li {
            display: inline-block;
            padding: 0 10px; }
        .modal .dialog .content div.details button {
          color: #000;
          margin: 10px 5px 10px 0;
          background: linear-gradient(#E46A52 49%, #C33B21 50%), #C33B21;
          outline: none;
          border: 1px solid transparent;
          padding: 0 5px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); }
          .modal .dialog .content div.details button:hover {
            opacity: 0.8;
            filter: alpha(opacity=80); }
    .modal .dialog .close {
      position: absolute;
      top: 3px;
      right: 5px;
      cursor: pointer;
      font-size: 120%;
      padding: 5px; }

.frontpage {
  padding-top: 10px; }
  .frontpage div {
    text-align: center; }
    .frontpage div h3 {
      color: #444;
      font-size: 18px; }
      @media only screen and (min-width: 601px) {
        .frontpage div h3 {
          font-size: 20px; } }
      @media only screen and (min-width: 990px) {
        .frontpage div h3 {
          font-size: 24px; } }
    .frontpage div.services {
      padding: 60px 0 30px; }
      .frontpage div.services div div {
        padding: 10px; }
        .frontpage div.services div div h4 {
          color: #444;
          font-size: 16px; }
          @media only screen and (min-width: 601px) {
            .frontpage div.services div div h4 {
              font-size: 20px; } }
        .frontpage div.services div div p {
          color: #999;
          font-size: 80%;
          font-style: italic; }
  .frontpage .brands {
    padding-top: 20px; }
  .frontpage .dummy {
    margin: 0;
    padding: 0; }
    .frontpage .dummy:after {
      display: table;
      content: "";
      clear: both; }
  @media only screen and (min-width: 601px) {
    .frontpage .featured div.left img {
      padding-right: 10px; } }
  @media only screen and (min-width: 601px) {
    .frontpage .featured div.right img {
      padding-left: 10px; } }
  .frontpage .featured img {
    max-width: 100%;
    height: auto;
    cursor: pointer; }

.product-details {
  padding-top: 15px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 601px) {
    .product-details div.holder, .product-details div.details {
      width: 50%;
      float: left; } }
  .product-details div.holder {
    overflow: hidden; }
  @media only screen and (min-width: 601px) {
    .product-details div.details {
      padding-left: 25px; } }
  @media only screen and (min-width: 1300px) {
    .product-details div.details {
      padding-left: 35px; } }
  .product-details div.details h3 {
    color: #141414;
    font-weight: bold;
    font-size: 20px; }
  .product-details div.details p {
    color: #444;
    font-size: 90%; }
    .product-details div.details p span.green {
      color: #4CAF50; }
    .product-details div.details p span.red {
      color: #F44336; }
    .product-details div.details p.description {
      font-style: italic; }
    .product-details div.details p.size {
      margin-bottom: 5px; }
    .product-details div.details p.color {
      margin-bottom: 5px; }
    .product-details div.details p.price {
      margin-top: 30px; }
      .product-details div.details p.price span {
        color: #141414;
        font-weight: bold;
        font-size: 100%; }
  .product-details div.details ul li {
    display: inline-block;
    padding: 3px 4px;
    margin: 3px;
    color: #444;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
  .product-details div.details ul.size li {
    border: 1px solid #4CAF50; }
  .product-details div.details ul.color li {
    width: 28px;
    height: 28px; }
  .product-details div.details button {
    font-size: 90%;
    color: #141414;
    padding: 3px 8px;
    background: linear-gradient(#E46A52 49%, #C33B21 50%), #C33B21;
    outline: none;
    border: 1px solid transparent;
    margin-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    .product-details div.details button:hover {
      background: linear-gradient(#C33B21 49%, #E46A52 50%), #E46A52;
      color: #eee; }
  .product-details div.dummy:before, .product-details div.dummy:after {
    content: " ";
    display: table;
    clear: both; }
  .product-details div.services {
    padding: 70px 0 10px; }
    .product-details div.services div div {
      padding: 10px; }
      .product-details div.services div div h4 {
        color: #444;
        font-size: 16px; }
        @media only screen and (min-width: 601px) {
          .product-details div.services div div h4 {
            font-size: 20px; } }
      .product-details div.services div div p {
        color: #999;
        font-size: 80%;
        font-style: italic; }

.slider {
  position: relative;
  text-align: center; }
  .slider button {
    outline: none;
    line-height: 1;
    background: transparent;
    padding: 4px 0;
    border: none;
    text-shadow: 0 0 2px #fff;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    @media only screen and (min-width: 601px) {
      .slider button {
        padding: 8px 0; } }
    .slider button i {
      font-size: 24px; }
      @media only screen and (min-width: 601px) {
        .slider button i {
          font-size: 36px; } }
      @media only screen and (min-width: 990px) {
        .slider button i {
          font-size: 42px; } }
      @media only screen and (min-width: 1300px) {
        .slider button i {
          font-size: 56px; } }
    .slider button:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: #eee; }
  .slider .slide {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .slider .slide div {
      display: inline-block; }
    .slider .slide img {
      max-width: 100%;
      height: auto;
      cursor: pointer; }
    .slider .slide .img-holder {
      position: relative;
      cursor: pointer; }
      .slider .slide .img-holder .info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0; }
        @media only screen and (min-width: 601px) {
          .slider .slide .img-holder .info {
            padding-bottom: 10px; } }
        @media only screen and (min-width: 1300px) {
          .slider .slide .img-holder .info {
            padding-bottom: 20px; } }
        .slider .slide .img-holder .info p {
          font-size: 50%;
          color: #444;
          margin: 0;
          line-height: 1.2;
          text-transform: uppercase; }
          @media only screen and (min-width: 601px) {
            .slider .slide .img-holder .info p {
              font-size: 80%;
              line-height: 1.3; } }
          @media only screen and (min-width: 1300px) {
            .slider .slide .img-holder .info p {
              font-size: 100%;
              line-height: 1.5; } }
          .slider .slide .img-holder .info p.type {
            text-decoration: underline; }
          .slider .slide .img-holder .info p.type + p {
            text-transform: none;
            font-style: italic; }
          .slider .slide .img-holder .info p.price {
            font-weight: bold; }
      .slider .slide .img-holder .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); }
        .slider .slide .img-holder .overlay .buttons {
          position: relative;
          width: 100%;
          height: 100%; }
          .slider .slide .img-holder .overlay .buttons button.quick-look, .slider .slide .img-holder .overlay .buttons button.details {
            position: absolute;
            top: 0;
            width: 50%;
            padding: 2px; }
            .slider .slide .img-holder .overlay .buttons button.quick-look i, .slider .slide .img-holder .overlay .buttons button.details i {
              font-size: 24px; }
              @media only screen and (min-width: 601px) {
                .slider .slide .img-holder .overlay .buttons button.quick-look i, .slider .slide .img-holder .overlay .buttons button.details i {
                  font-size: 36px; } }
              @media only screen and (min-width: 990px) {
                .slider .slide .img-holder .overlay .buttons button.quick-look i, .slider .slide .img-holder .overlay .buttons button.details i {
                  font-size: 42px; } }
              @media only screen and (min-width: 1300px) {
                .slider .slide .img-holder .overlay .buttons button.quick-look i, .slider .slide .img-holder .overlay .buttons button.details i {
                  font-size: 48px; } }
          .slider .slide .img-holder .overlay .buttons button.quick-look {
            left: 0; }
          .slider .slide .img-holder .overlay .buttons button.details {
            right: 0; }
        .slider .slide .img-holder .overlay.ng-hide-remove, .slider .slide .img-holder .overlay.ng-hide-add {
          -webkit-transition: 0.4s ease all;
          -moz-transition: 0.4s ease all;
          -ms-transition: 0.4s ease all;
          -o-transition: 0.4s ease all;
          transition: 0.4s ease all; }
        .slider .slide .img-holder .overlay.ng-hide-remove {
          opacity: 0; }
        .slider .slide .img-holder .overlay.ng-hide-remove-active {
          opacity: 1; }
        .slider .slide .img-holder .overlay.ng-hide-add {
          opacity: 1; }
        .slider .slide .img-holder .overlay.ng-hide-add-active {
          opacity: 0; }
  .slider .slide.ng-hide-remove, .slider .slide.ng-hide-add {
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -ms-transition: 1s ease all;
    -o-transition: 1s ease all;
    transition: 1s ease all; }
  .slider .slide.ng-hide-remove {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  .slider .slide.ng-hide-remove-active {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .slider .slide.ng-hide-add {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .slider .slide.ng-hide-add-active {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .slider button#left {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .slider button#right {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .slider ul.dots {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0; }
    .slider ul.dots li {
      display: inline-block;
      background-color: #fff;
      border: 1px solid #444;
      width: 12px;
      height: 12px;
      margin: 0 3px;
      border-radius: 50%;
      cursor: pointer; }
      .slider ul.dots li.active {
        background-color: #595959; }
