<div class="container">
	<div class="col m4">
		<h3>More info</h3>
		<ul>
			<li><a href="">How to order</a></li>
			<li><a href="">FAQ</a></li>
			<li><a href="">Location</a></li>
			<li><a href="">Shipping</a></li>
			<li><a href="">Membership</a></li>
		</ul>
	</div>
	<div class="col m4">
		<h3>Contact us</h3>
		<p>We would be glad to receive your phone calls at our office:  +12 34 995 0792</p>
		<ul class="social">
			<li><a href="" class="facebook"></a></li>
			<li><a href="" class="twitter"></a></li>
			<li><a href="" class="rss"></a></li>
			<li><a href="" class="linkd"></a></li>
		</ul>
	</div>
	<div class="col m4">
		<h3>Newsletter</h3>
		<p>Sign Up to get all news update and promo</p>
		<div class="mail">
			<input type="email" required/>
			<button>Sign up</button>
		</div>
	</div>

</div>
