<div class="container frontpage">
	<modal show="modalShown">
		<div class="image">
			<img ng-src="images/{{modalProduct.pics[1]}}" alt="image">
		</div>
		<div class="details">
			<h3>{{modalProduct.name}}</h3>
			<p> The product is
				<span ng-show="modalProduct.available" class="green"> in stock. </span>
				<span ng-hide="modalProduct.available" class="red"> out of stock. </span>
				Article: {{modalProduct.id}}
			</p>
			<p class="description">{{modalProduct.description}}</p>
			<p>Available sizes:</p>
			<ul>
				<li ng-repeat="size in modalProduct.size">{{size}}</li>
			</ul>
			<p class="price">
				Price: <span> {{modalProduct.price}}$</span>
			</p>
			<button ng-click="addToCart(modalProduct)">Add to cart</button>
			<button ng-click="viewDetails(modalProduct)">Details</button>
		</div>
	</modal>

	<div class="col" slider source="mainSlider" showdots="true" duration="5500"></div>
	<div class="dummy"></div>

	<div class="col brands" slider source="brandsSlider" duration="7000"></div>
	<div class="dummy"></div>

	<div class="row featured">
		<h3>Featured collections</h3>
		<div class="left col m6">
			<img src="images/t1.jpg" ng-click="goTo('shop')">
		</div>
		<div class="right col m6">
			<img src="images/t5.jpg" ng-click="goTo('shop')">
		</div>
	</div>
	<div class="dummy"></div>

	<div class="row">
		<h3>Best sellers</h3>
	</div>

   	<div class="col" slider source="data.products" duration="5500" separator="4" multiple="true" filter-by="sold"></div>
   	<div class="dummy"></div>

   	<div class="row">
	   	<h3>Popular: </h3>
   	</div>

   	<div class="col" slider source="data.products" duration="3500" separator="4" multiple="true" filter-by="views"></div>
   	<div class="dummy"></div>

   	<div>
   		<h3>Something else</h3>
   	</div>
</div>