<div class="container shipping-form">
  <p>Enter your details and we'll ship your goods right away!</p>

  <form name="shippingForm" novalidate>
    
    <h4>Ship to:</h4>

    <div class="f-group">
      <input class="f-input" type="text" name="name" ng-model="data.shipping.name" required/>
      <label class="f-label">Name</label>
      <span class="error" ng-show="shippingForm.name.$error.required && shippingForm.name.$dirty">
        Please enter your name
      </span>
    </div>
    
    <h4>Address:</h4>
    
    <div class="f-group">
      <input class="f-input" type="text" name="street" ng-model="data.shipping.street" required/>
      <label class="f-label">Street</label>
      <span class="error" ng-show="shippingForm.street.$error.required && shippingForm.street.$dirty">
        Please enter a street address
      </span>
    </div>

    <div class="f-group">
      <input class="f-input" type="text" name="city" ng-model="data.shipping.city" required/>
      <label class="f-label">City</label>
      <span class="error" ng-show="shippingForm.city.$error.required && shippingForm.city.$dirty">
        Please enter your city
      </span>
    </div>

    <div class="f-group">
      <input class="f-input" type="text" name="zip" ng-model="data.shipping.zip" required/>
      <label class="f-label">Zip</label>
      <span class="error" ng-show="shippingForm.zip.$error.required && shippingForm.zip.$dirty">
        Please enter your zip code
      </span>
    </div>

    <div class="f-group">
      <input class="f-input" type="text" name="country" ng-model="data.shipping.country" required/>
      <label class="f-label">Country</label>
      <span class="error" ng-show="shippingForm.country.$error.required && shippingForm.country.$dirty">
        Please enter your country
      </span>
    </div>
    
    <div class="f-check">
      <label class="checkbox">
        <input type="checkbox" ng-model="moreInfo" ng-click="!moreInfo">
        <div class="checkmark"></div> Leave additional instructions
      </label>
    </div>
    
    <div class="f-group" ng-show="moreInfo">
      <textarea class="f-textarea" name="addInfo" ng-model="data.shipping.addInfo"></textarea>
    </div>

    <div class="f-button">
        <button type="submit" ng-disabled="shippingForm.$invalid" ng-click="sendOrder(data.shipping)">Confirm order</button>
    </div>

  </form>   
</div>
