<div class="container shop">
	<div class="col">
		<p><b>SHOP</b></p>
		<a href="#/main">Go back</a>
	</div>
	<div class="col l3 filters">
		<div class="view-options">
			<p>View options:</p>
			<button ng-click="setViewClass('tile')"><i class="material-icons">view_module</i></button>
			<button ng-click="setViewClass('list')"><i class="material-icons">view_list</i></button>			
		</div>
		<div class="price">
			<p>
				Min price:
				<input ng-min="{{min}}" ng-max="{{max}}" type="range" ng-model="data.min">&nbsp
				<input number-only type="text" ng-model="data.min"> {{data.min}}
			</p>
			<p>
				Max price:
				<input ng-min="{{min}}" ng-max="{{max}}" type="range" ng-model="data.max">&nbsp
				<input number-only type="text" ng-model="data.max"> {{data.max}}
			</p>
		</div>
		<div class="type">
		<p>Types:</p>
		<p ng-repeat="item in data.products | filter:categoryFilterFn | unique:'type'">
			<input type="checkbox" id="{{item + $index + 1}}" ng-model="typeVals[$index]" ng-click="toggleFilter(item, productType)">
			<label for="{{item + $index + 1}}">{{item}}</label>
		</p>
		</div>

		<div class="brand">
		<p>Brands:</p>
		<p ng-repeat="item in data.products | filter:categoryFilterFn | unique:'brand'">
			<input type="checkbox" id="{{item + $index + 1}}" ng-model="brandVals[$index]" ng-click="toggleFilter(item, productBrand)">
			<label for="{{item + $index + 1}}">{{item}}</label>
		</p>
		</div>

		<div class="season">
		<p>Season:</p>
		<p ng-repeat="item in data.products | filter:categoryFilterFn | unique:'season'">
			<input type="checkbox" id="{{'season'+item}}" ng-model="seasonVals[$index]" ng-click="toggleFilter(item, productSeason)">
			<label for="{{'season'+item}}">{{item}}</label>
		</p>
		</div>

		<div class="size">
		<p>Size:</p>
		<p ng-repeat="item in data.products | filter:categoryFilterFn | arrayValues:'size'">
			<input type="checkbox" id="{{'size' + item}}" ng-model="sizeVals[$index]" ng-click="toggleFilter(item, productSize)">
			<label for="{{'size' + item}}">{{item}}</label>
		</p>
		</div>

	</div>
	<div class="col l9">
		<div ng-class="viewClass" ng-repeat="item in data.products | filter:categoryFilterFn | filter:minPriceFilterFn | filter:maxPriceFilterFn | filter:typeFilterFn | filter: brandFilterFn | filter: sizeFilterFn | filter: seasonFilterFn">
			<h3>{{item.name}} <span>{{item.price | currency}}</span></h3>
			<span>{{item.description}}</span>
			<button ng-click="addToCart(item)">Add to cart</button>
			<button ng-click="viewDetails(item)">View details</button>
		</div>
	</div>
</div>