<div class="slider" ng-if="!multiple">
	<div class="slide" ng-repeat="image in images" ng-show="image.visible">
		<img ng-src="images/{{image.src}}" ng-click="goTo(image.productId)" slide-ready>
	</div>
	<button id="left" ng-click="prev(); refresh()"><i class="material-icons">chevron_left</i></button>
	<button id="right" ng-click="next(); refresh()"><i class="material-icons">chevron_right</i></button>
	<ul class="dots" ng-if="showdots">
		<li ng-repeat="dot in dots(numOfImgs) track by $index" ng-class="{active : currentIndex==$index}" ng-click="setSelected($index); refresh()"></li>
	</ul>
</div>

<div class="slider" ng-if="multiple">
	<div class="slide" ng-repeat="imgs in groupImgs" ng-show="imgs.visible">
		<div class="img-holder" ng-repeat="image in imgs.set" ng-mouseenter="toggleHover()">
			<img ng-src="images/{{image.pics[0]}}" slide-ready>
			<div class="info">
				<p>{{image.name}}</p>
				<p class="type">{{image.type}}</p>
				<p>Price:</p>
				<p class="price">{{image.price}}$</p>
			</div>
			<div class="overlay" ng-show="isHover" ng-mouseleave="toggleHover()">
				<div class="buttons">
					<button class="quick-look" ng-click="getModal(image)"><i class="material-icons">search</i></button>
					<button class="details" ng-click="goTo(image.id)"><i class="material-icons">description</i></button>
				</div>
			</div>
		</div>
	</div>
	<button id="left" ng-click="prev(); refresh()"><i class="material-icons">chevron_left</i></button>
	<button id="right" ng-click="next(); refresh()"><i class="material-icons">chevron_right</i></button>
</div>